html{
  background:#FFF8DC;
}
#main{
  text-align: center;
  background-color: #D2B48C ;
  margin: 0 auto;
  border-radius: 4px;
  width: 75%;
  max-width: 900px;
  font-family: 'Mali', cursive;
  padding: 10px;
  padding-top: 20px;
}
#title{
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}
.labels{
  display: inline-block;
  text-align: right;
  width: 20%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;

}
.input{
  height: 20px ;
  width: 280px ;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}
#dropdown {
  height: 35px;
  width: 280px;
}
.radio, .checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}
.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}
#submit {
  background-color: #CD853F;
  border-radius: 4px;
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}
@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}
